sentence-transformers==2.2.2
huggingface-hub==0.16.4
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
pinecone-client
langchain-pinecone
langchain-community
langchain-google-genai
langchain_experimental
waitress
#-e .

